{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block page_title %}
      {% endblock page_title %}
    </title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    {% block css %}
    {% endblock css %}
  </head>
  <body>
    <!-- Top Bar Nav -->
    {% include "./partials/navbar.html" %}
    <!-- Topic Nav -->
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    {% block js_scripts %}
    {% endblock js_scripts %}
  </body>
</html>
